progress,sub,sup{vertical-align:baseline;}button,hr,input{overflow:visible;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;}audio:not([controls]){display:none;height:0;} [hidden],template{display:none;}a{background-color:transparent;-webkit-text-decoration-skip:objects;}a:active,a:hover{outline-width:0;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background-color:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}svg:not(:root){overflow:hidden;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}button,input,select,textarea{font:inherit;margin:0;}optgroup{font-weight:700;}button,input{}button,select{text-transform:none;}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button;}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}textarea{overflow:auto;}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0;}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-input-placeholder{color:inherit;opacity:.54;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}

.clearfix:after{visibility:hidden;display:block;content:" ";clear:both;height:0;}

html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}
/*Above, just my basic settings to ensure that everything runs smoothly across all browsers along with clearfix*/


/*General Settings*/

    body{
        background: cornsilk;
    }
    
     header{
        width: 100%;
        position: absolute;
        background: lightblue;
    }
    
    li{
        list-style: none;
    }
    
    a{
        color: green;
        text-decoration: none;
    }
    
    a:hover{
    	color: #A7BD8E;
    }
    
    .wrapper{
        
    }

     #content{
        /*margin-left: 4em;*/
        padding-top: 20vh;
    }

     .content-item p {
        margin-left: 10px;
        font-style: italic;
    }
        /*content-item referes to each li, or post*/
    
    
     .redirected{
        padding-top: 10vh;
        margin: 0em 4em;
    }
        /*redirected refers to the banner
        on the redirected pages, since they don't
        have posts*/
        
     #footer{
        display: inline-block;
    }
    
     #footer p{
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        padding: 15vh 1vh 2vh 1vh;
    }
        /*footer is the footer*/


/*Specifics*/
    
     .content-item .scores p{
        margin: 0.4em 0;
        font-style: normal;
        font-weight: bold;
    }
        /*scores is a div that containers the
        vote forms, ie the up and down votes*/
        
     form input,
     form button{
        margin: 0.5em 0em;
    }
        /*gives all form inputs and buttons 
        some margins*/


/*nav inside header*/

     nav .list-nav-links{
        width: 100%;
        padding: 0;
        margin: 0;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }
    
     nav ul .nav-link{
        padding: 2vh 0;
        width: 20%;
        text-align: center;
    }
    
     nav ul .nav-link a{
        display: block;
        padding: 4vh;
        /*color: blue;*/
    }
    
     nav ul .nav-link:hover{
        background: #A0C5E8;
    }
    
     nav ul .nav-link a:hover{
        color: #673ab7;
    }


/*banner*/

    .banner{
        /*background: blue;*/
        padding: 1em
    }
    
    
    /*greeting*/
        
        .greeting{
            float: left;
            width: 35%;
            margin: 0;
            height: 80px;
            /*background: pink;*/
            padding: 0 1em;
            text-align: center;
        }
        
    
    /*sortnav*/
         .sortnav-container {
            width: 65%;
            float: left;
            height: 80px;
            /*text-align: right;*/
        }
        
        .sortnav-container .sortnav{
            margin: 0;
            padding: 0;
            width: 100%;
            height: inherit;
            
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
        }
        
         .sortnav-container .sort{
            /*width: 25%;*/
            /*float: left;*/
            border: 2px solid lightblue;
            background: lightblue;
            text-align: center;
            
        }
        
         .sortnav-container .sort a{
             /*width: 20%;*/
            display: block;
            padding: 2vh 0;
            min-width: 100px;
            
        }
        
         .sortnav-container .sort:hover{
            background: #A0C5E8;
        }
        
         .sortnav-container .sort a:hover{
            color: #673ab7;
        }


/*Post*/
    .post-content{
        margin-left: 4em
    }
    
    .author-title p{
        font-style: italic;
    }
    
    .post-content .text{
        margin: 2em 0 0 1em;
        width: 60%;
        background: white;
        border: 2px solid lightblue;
    }
    
    .replies-1{
        margin-left: 2em;
    }
    
    .replies-2{
        margin-left: 4em;
    }



/*next page buttons*/

    .nextPage{
        display: flex;
        justify-content: center;
    }
    
    .nextPage a{
        
        padding-right: 4vh;
        /*display: inline-block;*/
        float: left;
    }
    
/*create posts, login, and signup*/
  .create{
      margin-left: 4em;
  }
  
    
/*redirected pages*/
    .redirected{
        margin-left: 4em;
    }
    
