progress,sub,sup{vertical-align:baseline;}button,hr,input{overflow:visible;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;}audio:not([controls]){display:none;height:0;} [hidden],template{display:none;}a{background-color:transparent;-webkit-text-decoration-skip:objects;}a:active,a:hover{outline-width:0;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background-color:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}svg:not(:root){overflow:hidden;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}button,input,select,textarea{font:inherit;margin:0;}optgroup{font-weight:700;}button,input{}button,select{text-transform:none;}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button;}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}textarea{overflow:auto;}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0;}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-input-placeholder{color:inherit;opacity:.54;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}

.clearfix:after{visibility:hidden;display:block;content:" ";clear:both;height:0;}

html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}
/*Above, just my basic settings to ensure that everything runs smoothly across all browsers along with clearfix*/



/*General Settings*/

    body{
        background: lightslategrey;
    }
    
    header{
        background: lavender;
    }
    
    li{
        list-style: none;
    }
    
    a{
        color: aliceblue;
        text-decoration: none;
    }
    
    a:hover{
    	color: cornflowerblue;
    }
    
    nav a{
        color: cadetblue;
    }
    
    nav a:hover{
        color: aliceblue;
    }
    
     footer p{
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        padding: 15vh 1vh 2vh 1vh;
    }

    content{
        display: flex;
        width: 100%;
        flex-flow: column;
    }
    
    textarea{
        margin: .25em 0;
    }
    
    .create input,
    .create textarea{
        border: 4px solid lightblue;
        background: white;
    }
    
    .box{
        background: darkslategrey;
        padding: 1.25em;
        
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }
    
    button{
        border: none;
        background: lavender;
        box-shadow: inset 0px 0px 15px steelblue;
        padding: .5em;
        border-radius: 4%;
        
        min-height: 2em;
        min-width: 25%;
        text-transform: capitalize;
        cursor: pointer;
    }
    
    .bounce-btn{
            width: 66.666%;
    }

        /*styles for the autocomplete suggestions dropdown*/
    .autocomplete-suggestions{
        border: 4px solid lightblue;
        border-top: none;
        background: white;
    }

/*nav inside header*/

     nav ul.list-nav-links{
        width: 100%;
        
        padding: 0;
        margin: 0;
        
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    
     nav ul li.nav-link{
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
     nav ul .nav-link div{
        padding: 2em 0;
        
    }
    
        nav ul .nav-link a{
            width: 100%;
            height: 100%;
        }
    
    
     nav ul .nav-link:hover{
        background: #A0C5E8;
    }
    
     


/*banner section*/

    .banner{
        
        padding: 2em 0;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    
    /*greeting*/
        
        .greeting{
            
            margin: 0;
            padding: 0 1em;
            text-align: center;
        }
        
        .greeting h1{
            margin: 0;
        }
        
    
    /*sort nav*/
        
        
        .banner nav ul.sort-list{
            margin: 0;
            padding: 0;
            width: 100%;
            min-height: 20vh;
            
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
        }
        
         .sort-list li{
            border: 2px solid lightblue;
            background: lavender;
            text-align: center;
            margin-top: 1em;
            min-width: 20%;
        }
        
         .sort-list li a{
             
            display: block;
            padding: 2vh 0;
            min-width: 5rem;
            
        }
        
         .sort-list li:hover{
            background: #A0C5E8;
        }
        


/*wrapper section, where posts are displayed on homepage*/

    .wrapper{
        display: flex;
        flex-flow: column;
    }

    
    ul.list-posts{
        padding: 0;
    }
    
    
        ul.list-posts li{
            background: lightsteelblue;
            border: 2px solid lightblue;
            margin: 2em 0;
            
            display: flex;
            flex-flow: column;
        }
        
        ul.list-posts li div.row{
            margin: 0;
        }
        
        ul.list-posts li h2{
            align-self: center;
        }
            /*make our post titles centered*/
        
            .author{
                text-align: center;
                font-style: italic;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .votes{
                justify-content: space-around;
                padding-bottom: 2em;
            }
            
            .votes button.down{
                box-shadow: inset 0px 0px 20px firebrick;
            }
    
    
    
/*Single Post page*/

    content.post{
        
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        text-align: center;
    }
    
    article.text{
        background: lavender;
        border: 2px solid lightblue;
    }
    
    content.post * {
        max-width: 1000px;
    }
        /*grab all children, muwhahaha!*/
    
    .post p.user{
        font-style: italic;
    }
    
    /*comments*/
    .replies-1{
        margin-left: 2em;
    }
    
    .replies-2{
        margin-left: 4em;
    }



/*next page buttons*/

    .nextPage ul{
        padding: 0;
        justify-content: space-around;
    }
    
    .nextPage li{
        border: 2px solid lightblue;
        background: lavender;
        
    }
    
    nav.nextPage ul li:hover{
        background: #A0C5E8;
    }
    
    .nextPage ul li div{
        padding: 0.5em;
        min-width: 20%;
        text-align: center;
    }
    
    
    
/*create posts, login, and signup*/
  content .create{
      padding-top: 3em;
      min-height: 50vh;
      
      flex-flow: column;
      margin: 0;
      justify-content: center;
      align-items: center;
      
      text-align: center;
  }
  
  .create form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  }
  
  .create form input,
  .create form button{
      margin: .25em 0;
      height: 3em;
  }
  
  
  
    
/*redirected pages*/
    .redirected{
        margin-left: 4em;
    }
    
    
    
    
    
    
    
    
    
  /*Grid CSS media queries Below!*/
  
    /* Grid system! */
.row {
    max-width: 1000px;
    margin: 0 auto;
    display: flex; /* This will allow our row to display columns horizontally */
    flex-wrap: wrap; /* This will become necessary to allow our flex boxes to stack in responsive mode */
}



/* Small and up columns */

/* If an element needs all twelve columns, then its width is 100%. Easy. */
.col-small-12 {
    width: 100%;
}
/* If an element needs 11 of 12 columns, its width is 11/12 * 100% */
.col-small-11 {
    width: 91.666%;
}
.col-small-10 {
    width: 83.333%;
}
.col-small-9 {
    width: 75%;
}
.col-small-8 {
    width: 66.666%;
}
.col-small-7 {
    width: 58.333%;
}
/* This is the class we'd use if we want two 50/50 elements next to each other */
.col-small-6 {
    width: 50%;
}
.col-small-5 {
    width: 41.666%;
}
/* This is the class we'd use if we want three elements next to each other */
.col-small-4 {
    width: 33.333%;
}
/* This is the class we'd use if we want four elements next to each other */
.col-small-3 {
    width: 25%;
}
.col-small-2 {
    width: 16.666%;
}
/* We'll almost NEVER use this */
.col-small-1 {
    width: 8.333%;
}

/* Medium and up screen sizes */
@media only screen and (min-width: 641px) {
  .col-medium-12 {
      width: 100%;
  }
  /* If an element needs 11 of 12 columns, its width is 11/12 * 100% */
  .col-medium-11 {
      width: 91.666%;
  }
  .col-medium-10 {
      width: 83.333%;
  }
  .col-medium-9 {
      width: 75%;
  }
  .col-medium-8 {
      width: 66.666%;
  }
  .col-medium-7 {
      width: 58.333%;
  }
  /* This is the class we'd use if we want two 50/50 elements next to each other */
  .col-medium-6 {
      width: 50%;
  }
  .col-medium-5 {
      width: 41.666%;
  }
  /* This is the class we'd use if we want three elements next to each other */
  .col-medium-4 {
      width: 33.333%;
  }
  /* This is the class we'd use if we want four elements next to each other */
  .col-medium-3 {
      width: 25%;
  }
  .col-medium-2 {
      width: 16.666%;
  }
  /* We'll almost NEVER use this */
  .col-medium-1 {
      width: 8.333%;
  }

}
/*end of medium*/



/* Large screen sizes */
@media only screen and (min-width: 1025px) {
  .col-large-12 {
      width: 100%;
  }
  /* If an element needs 11 of 12 columns, its width is 11/12 * 100% */
  .col-large-11 {
      width: 91.666%;
  }
  .col-large-10 {
      width: 83.333%;
  }
  .col-large-9 {
      width: 75%;
  }
  .col-large-8 {
      width: 66.666%;
  }
  .col-large-7 {
      width: 58.333%;
  }
  /* This is the class we'd use if we want two 50/50 elements next to each other */
  .col-large-6 {
      width: 50%;
  }
  .col-large-5 {
      width: 41.666%;
  }
  /* This is the class we'd use if we want three elements next to each other */
  .col-large-4 {
      width: 33.333%;
  }
  /* This is the class we'd use if we want four elements next to each other */
  .col-large-3 {
      width: 25%;
  }
  .col-large-2 {
      width: 16.666%;
  }
  /* We'll almost NEVER use this */
  .col-large-1 {
      width: 8.333%;
  }

}
/*end of large*/




/*Personal Media Queries below!*/
    
    
        /*medium and up*/
@media only screen and (min-width: 641px){
        
        /*all sections*/
        section{
            margin: 0 2.5em;
        }
        
        
        /*header nav*/
        
            header nav ul.list-nav-links,
            .banner nav ul.sort-list{
                flex-flow: row;
            }
            
            ul.list-nav-links li{
                width: 20%;
    
            }
            
            ul.list-nav-links li a{
                height: 100%;
                width: 100%;
            }
            
            ul.list-nav-links li div{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
        
        /*sort nav*/
        
            .banner{
                flex-flow: row;
            }
            
            ul.sort-list{
                flex-flow: row wrap
            }
            
            ul.sort-list li{
                margin-top: 0;
            }
        
        /*button*/
        button{
            min-width: 20%;
            max-width: 25%;
        }
        
        
    }
/*end of medium personal*/


    /*large and above! personal media queries*/
@media only screen and (min-width: 1025px){ 
    
    /*wrapper section posts*/
    
        ul.list-posts li h2{
            align-self: flex-start;
            margin-left: 2em;
        } 
    
    
    /*Create post, login, and signup*/
        
        content .create{
            margin-left: 5em;
            align-items: flex-start;
            text-align: start;
        }
        
        
        
        content .create form{
            flex-flow: column;
        }
        
        content .create input,
        content .create button{
            height: inherit;
        }
    
    
        /*single post*/
        content.post{
            text-align: start;
        }
    
    
}
/*end of large personal*/