extends layout.pug

block title
    title Access Denied

block content
    div.form
        h2 Sorry, you must be logged in to create content!
        a(href="/") 
            button Return to Homepage
