extends postSuccess.pug

block title
    title Access Denied

block content
    div.redirected
        h2 Sorry 
        p You must be logged in to create content or vote on posts!
        p Please wait to be redirected.
