doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Mary's Reddit Server
    block scripts
        link(rel="stylesheet", href="/files/styles.css")
  body
    block header
      header
        nav
            ul.list-nav-links.col-small-12
                li.nav-link.col-small-12
                    a(href="/login") 
                      div Login
                li.nav-link.col-small-12
                    a(href="/createPost") 
                      div Create Post
                li.nav-link.col-small-12
                    a(href="/signup") 
                      div Signup
                li.nav-link.col-small-12
                    a(href="/logout") 
                      div Logout
                li.nav-link.col-small-12
                    a(href="/") 
                      div Homepage
    block content
    block foot
      footer
        p This is the end, the bottom my friend