doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Mary's Reddit Server
    block scripts
        link(rel="stylesheet", href="/files/styles.css")
  body
    block content
    block foot
      #footer
        p This is the end, the bottom my friend