extends layout.pug

block title
    title The Posts

block content
    div#content
        h1 List of Posts
        ul.contents-list
            each val in posts
                li.content-item 
                    h2.content-item_title 
                        a(href= val.url)= val.title
                    p= "Created by " + val.username